<div class="left_panel_wrap sidebar">
  <p>Filters</p>
  <div class="year_data_wrap">
    <div class="lauch_heading">
      <h2>Launch Year</h2>
    </div>
    <div class="radio-toolbar row">
      <div class="col-md-6 col-sm-6 col-xs-6" *ngFor="let ob of years">
        <input type="radio" id="radio_{{ob.value}}" [(ngModel)]="ob.isSelected" (change)="filters({type: 'launch_year', value: ob.value})" name="radios" [value]="ob.value">
        <label for="radio_{{ob.value}}">{{ ob.value }}</label>
      </div>
    </div>
  </div>
  <div class="year_data_wrap">
    <div class="lauch_heading">
      <h2>Successful Launch</h2>
    </div>
    <div class="radio-toolbar row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <input type="radio" id="radio_true1" [checked]="isLaunchSuccess == true" (change)="filters({type: 'launch_success', value: true})" name="launch" value="true">
        <label for="radio_true1">True</label>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <input type="radio" id="radio_true2" [checked]="isLaunchSuccess == false" name="launch" (change)="filters({type: 'launch_success', value: false})" value="false">
        <label for="radio_true2">False</label>
      </div>
    </div>
  </div>
  <div class="year_data_wrap">
    <div class="lauch_heading">
      <h2>Successful Landing</h2>
    </div>
    <div class="radio-toolbar row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <input type="radio" id="radio_true3" [checked]="isLandSuccess == true" name="landing" (change)="filters({type: 'land_success', value: true})" value="true">
        <label for="radio_true3">True</label>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <input type="radio" id="radio_false4" [checked]="isLandSuccess == false" name="landing" (change)="filters({type: 'land_success', value: false})" value="false">
        <label for="radio_false4">False</label>
      </div>
    </div>
  </div>
  <button (click)="setInitialFilter();">Reset All</button>
</div>
<div class="right_panel_details_wrap content">
  <ng-container>
    <div class="packege_wrap info">
      <div class="card_wrap"  *ngFor="let item of launchArr;">
        <product-card lazyloadContent [cardData]=item></product-card>
      </div>
      <norecord *ngIf="launchArr?.length == 0;"></norecord>
    </div>
  </ng-container>
</div>